[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
ipykernel = "*"

[packages]
numpy = "*"
pandas = "*"
seaborn = "*"
sklearn = "*"

[requires]
python_version = "3.7"
